.footer {
  background: #000;
  color: #fff;
  padding: 50px 40px;
  font-family: "Inter", sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #333;
}

/* Brand Section */
.footer-logo {
  width: 130px;
  margin-bottom: 15px;
  background: white;
}

.footer-text {
  color: #ccc;
  line-height: 1.6;
  margin-bottom: 20px;
  max-width: 250px;
}

.footer-contact-list {
  margin-top: 10px;
}

.footer-contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ddd;
  margin-bottom: 12px;
}

.footer-icon {
  color: #ff6a6a;
}

/* Titles */
.footer-title {
  font-size: 22px;
  margin-bottom: 20px;
}

/* Links */
.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  color: #ccc;
  margin-bottom: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.footer-links li:hover {
  color: #fff;
}

.footer-highlight {
  color: #ff6a6a !important;
}

/* Social Icons */
.footer-socials {
  display: flex;
  gap: 15px;
  margin: 20px 0;
}

.social-icon {
  background: #222;
  padding: 14px;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.social-icon:hover {
  background: #333;
}

/* Email Box */
.footer-email-box {
  display: flex;
  margin-top: 10px;
}

.footer-email-box input {
  flex: 1;
  padding: 12px 16px;
  border-radius: 10px;
  background: #222;
  border: none;
  outline: none;
  color: #fff;
}

.footer-email-box button {
  padding: 12px 20px;
  margin-left: 10px;
  background: #ff6a6a;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.footer-email-box button:hover {
  background: #ff4d4d;
}

/* Bottom Footer */
.footer-bottom {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ccc;
  font-size: 14px;
}

.footer-bottom-links {
  display: flex;
  gap: 20px;
}

.footer-bottom-links span {
  cursor: pointer;
  transition: 0.2s;
}

.footer-bottom-links span:hover {
  color: #fff;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .footer-container {
    grid-template-columns: 1fr;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 15px;
  }
}
